---
import { getAgents } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";

const agents = await getAgents();
---

<Base>
  <div class="grid grid-cols-1 lg:grid-cols-3">
    {
      agents?.map((agent) => (
        <div class="relative border border-indigo-800 border-4 overflow-hidden rounded-2xl relative h-40 w-50 bg-indigo-100 p-5 m-10 flex flex-col items-start gap-4 shadow-lg">
          <div class="text-indigo-900">
            <span class="font-bold text-xl">
              {agent.agent_prenom} {agent.agent_nom}
            </span>
            <p class="text-xs">{agent.agent_email}</p>
          </div>
          <button class="hover:bg-indigo-900 border hover:border-gray-50 hover:text-gray-50 bg-gray-50 font-semibold border-indigo-900 text-indigo-900 px-3 py-2 flex flex-row items-center gap-3">
            <a href={`/agents/${agent.id}`}>Voir les offres</a>
          </button>
        </div>
      ))
    }
  </div>
</Base>
