---
import Base from "../layouts/Base.astro";
---

<Base titre="Accueil" h1="Page d'Accueil">
  <p class="text-lg font-semibold text-indigo-900 pt-10">
    Bienvenu sur la page d'accueil
  </p>
  <p class="text-indigo-900 pt-3">
    Découvrez notre site et les différentes options proposés
  </p>
</Base>
