---
import Base from "../layouts/Base.astro";
---

<Base titre="Offres" h1="Page des offres">
  <p class="text-lg font-semibold text-indigo-900 pt-10">Bienvenu sur la page des offres!</p>
  <p class="text-indigo-900 pt-3">Sur cette page vous pourrez découvrir différentes offres mis à votre disposition</p>
</Base>
