---
import LogoInstagram from "../assets/icons/IconInstagram.svg";
import LogoLinkedin from "../assets/icons/IconLinkedin.svg";
---

<footer class="bottom-0 w-full bg-gray-800 text-white text-center py-4">
  <p>© 2025, Built with Astro</p>
  <div class="flex justify-center space-x-4 pt-4">
    <a class="fill-slate-100" href="https://www.instagram.com/"><LogoInstagram /></a>
    <a class="fill-slate-100" href="https://fr.linkedin.com/"><LogoLinkedin /></a>
  </div>
</footer>
