<nav class="top-0 w-full bg-indigo-400 text-white text-center p-2">
    <div class="space-x-9 text-xl text font-bold">
        <a href="/">Accueil</a>
        <a href="/offres">Offres</a>
        <a href="/agents">Agents</a>
    </div>
  
</nav>
